canvas {

    background-color: lightgoldenrodyellow;


}

.containerOne {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;


}


.containerTwo {

    width: 1200px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Orbitron;
    font-weight: 700;
    color: white;
    font-size: large;

}

#livesContainer img {

    width: 50px;
    height: 60px;
    

}

#livesContainer {

    color: white;
    font-family: Orbitron;
    position: absolute;
    top: 3px;
    right: 20px;
    

}

.canvasContainer {

    width: 1200px;
    height: 700px;
    /*border: red solid 3px;*/
    position: relative;

}